@media only screen and (max-width: 500px) {
    * {
        font-size: 15px;
    }
    aside {
        display: none;
    }
}

@media only screen and (max-height: 500px) {
    * {
        font-size: 12px;
    }
    h2 {
        margin-top: 30px;
    }
    .navbar a {
        padding: 10px 8px;
    }
    footer {
        display: none;
    }
    .navbar {
        height: 30px;
    }
    .navbar img {
        width: 30px;
        height: 30px;
    }
}