form {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 120%;
}

.container {
    padding: 1%;
}

input[type="submit"] {
    width: 10%;
}