{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}"> {% endblock %} {% block content %}
<div>
    <h2>Add Patient</h2>
</div>

{% with messages = get_flashed_messages() %} {% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endwith %}


<form action="/add_patient" method="post">

    <div class="container">{{ form.fname.label }} {{ form.fname }} {% if form.fname.errors %}
        <ul class="errors">
            {% for error in form.fname.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}</div>


    <div class="container">{{ form.lname.label }} {{ form.lname }} {% if form.lname.errors %}
        <ul class="errors">
            {% for error in form.lname.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}</div>


    <div class="container">{{form.gender.label}} {{form.gender}}</div>


    <div class="container">{{ form.ssn.label }} {{ form.ssn }} {% if form.ssn.errors %}
        <ul class="errors">
            {% for error in form.ssn.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}</div>


    <div class="container">{{ form.age.label }} {{ form.age }} {% if form.age.errors %}
        <ul class="errors">
            {% for error in form.age.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}</div>

    {{ form.csrf_token }} {{ form.submit }}




</form>
{% endblock %}