{% extends "base.html" %} {% block content %} {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/login_style.css')}}"> {% endblock %}

<div>
    <h2>Feedback Form</h2>
</div>

<form action="go/to/url" method="post">

    <div class="container">
        <label for="uname"><b>Enter your full name</b>
        <input type="text" placeholder="Name Surname" id="uname" required>
      </label>
        <label for="feedb_text"><b>Your Feedback <br></b>
        <textarea name="message" class="text" id="feedb_text"></textarea></label>

        <label for="feedb_type"><b>Select the type of the Feedback<br></b>
        <select name="feedback_type" id="feedb_type">
          <option value="Coplaint">Coplaint</option>
          <option value="Advise">Advise</option>
          <option value="Proposal">Proposal</option>
          <option value="Question">Question</option>
        </select></label>


        <p><b>You gender</b></p>
        <input type="radio" id="gender_male" name="gender_male" value="male">
        <label for="gender_male">male</label>

        <input type="radio" id="genger_female" name="genger_female" value="phone">
        <label for="genger_female">female</label>




        <label for="vehicle_ch1"><b><br>Have you read the rules?<br></b>
        <input type="checkbox" name="vehicle1" value="Bike" id="vehicle_ch1"> I have read the rules<br></label>



        <button type="submit">Submit</button>
    </div>


</form>

{% endblock %}