{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/sign_up.css')}}">
<link rel=" stylesheet " href="{{url_for( 'static', filename='styles/style.css' )}} "> {% endblock %} {% block content %}

<h2>You are editing image with image_id={{img_id}}. Current values are displayed in the fields below. To change them, edit the fields and press 'Save changes'</h2>

<form action="/edit_analysis" method="post">
    {{form.img_id}}

    <div class="container ">{{ form.tumor.label }} {{ form.tumor }} {% if form.tumor.errors %}
        <ul class="errors ">
            {% for error in form.tumor.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}</div>

    <div class="container ">{{ form.diagnosis.label }} {{ form.diagnosis }} {% if form.diagnosis.errors %}
        <ul class="errors ">
            {% for error in form.diagnosis.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}</div>
    <div class="container ">{{ form.recommendations.label }} {{ form.recommendations }} {% if form.recommendations.errors %}
        <ul class="errors ">
            {% for error in form.recommendations.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}</div>
    <div class="container ">{{ form.confidence.label }} {{ form.confidence }} {% if form.confidence.errors %}
        <ul class="errors ">
            {% for error in form.confidence.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}</div>
    <div class="container ">{{ form.verified.label }} {{ form.verified }} {% if form.verified.errors %}
        <ul class="errors ">
            {% for error in form.verified.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}</div>


    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %} {{ form.csrf_token }} {{ form.submit }}
</form>

{% endblock %}