{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}"> {% endblock %} {% block content %}


<h1>View image analysis and verify results</h1>
{% with messages = get_flashed_messages() %} {% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endwith %} {{table}}{% if simage %}

<div align="right"><img src="{{ simage }}" align="right"></div> {% endif %} {% endblock %}