{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"> {% endblock %} {% block content %}
<div class="main-content">
    <aside>
        <p>This website was developed as a part of a course work project</p>
        <p>It can't be used for diagnostic use and should be considered only as a demonstration of the author's skills
        </p>
        <p>If you have any questions contact him on <a href="mailto:vzalevskyi24@gmail.com ">this email</a>
        </p>
    </aside>

    <h2>Project Description</h2>


    <h3>Want to know how brain MRI looks?</h3>
    <section>
        <p><b>Firtsly, what is MRI?</b></p>
        <p>Magnetic resonance imaging (MRI) is a test that uses powerful magnets, radio waves, and a computer to make detailed pictures inside your body.</p>
    </section>


    <iframe src="http://www.youtube.com/embed/0LupvsT87Ec " width="560 " height="315 " allowfullscreen>
                </iframe>


    <h2>Data used for the model traing</h2>

    <table>
        <tr>
            <th>Name of the dataset</th>
            <th>Where got from</th>
            <th>Link</th>
        </tr>


        <tr>
            <td>Brain Tumor Images Dataset</td>
            <td>Kaggle</td>
            <td><a href="https://www.kaggle.com/simeondee/brain-tumor-images-dataset ">Link1</a></td>
        </tr>


        <tr>
            <td>New Brain Tumor Images Dataset</td>
            <td>Kaggle</td>
            <td><a href="https://www.kaggle.com/navoneel/brain-mri-images-for-brain-tumor-detection ">Link2</a>
            </td>
        </tr>

        <tr>
            <td>Brain MRI Images for Brain Tumor Detection</td>
            <td>Kaggle</td>
            <td><a href="https://www.kaggle.com/simeondee/brain-tumor-images-dataset ">Link3</a></td>
        </tr>
    </table>

</div>
{% endblock %}