<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brain MRI Analyzer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/login_style.css')}}">
    <link rel="icon" href="{{url_for('static', filename='images/icon.png')}}">

</head>

<body>
    <article class='description'>
        <header>

            <div class='navbar'>
                <nav>
                    <a href="" id="logoimage">
                        <img src="{{url_for('static', filename='images/icon.png')}}" alt="icon">
                    </a>
                    <a href="/">About</a>
                    <a href="/">Examples</a>
                    <a href="/contact_us">Contact Us</a>

                    <div id="login"><a href="/login">Log In</a></div>

                </nav>

            </div>

        </header>

        <div>
            <h2>Login Form</h2>
        </div>



        <form action="/login" method="post">
            <div class="imgcontainer">
                <img src="{{url_for('static', filename='images/login_icon.png')}}" alt="Avatar" class="avatar">
            </div>

            <div class="container">{{ form.username.label }} {{ form.username }} {% if form.username.errors %}
                <ul class="errors">
                    {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}</div>
            <div class="container">{{ form.password.label }} {{ form.password }} {% if form.password.errors %}
                <ul class="errors">
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}</div>
            {{ form.csrf_token }} {{ form.submit }}

        </form>


        <div class="forget-passw"><a href="/sign_up">Sign Up</a></div>
        </div>

        <div class="forget-passw"><a href="*">Forgot password?</a></div>
        </div>

        <div class="checkmark">
            <label class="container">
            <input type="checkbox" name="remember">Remember me
          </label>
        </div>

        <footer>
            <span class="footer-text">
            <time datetime="2019-10-04 20:00">Created by: Vladyslav Zalevskyi.</time> Contact information: <a
                href="mailto:vzalevskyi24@gmail.com">
                vzalevskyi24@gmail.com</a>
          </span>
        </footer>

    </article>
</body>

</html>