{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/login_style.css')}}"> {% endblock %} {% block content %}
<article class='description'>
    <h2>Login Form</h2>
    <form action="/login" method="post">
        <div class="imgcontainer">
            <img src="{{url_for('static', filename='images/login_icon.png')}}" alt="Avatar" class="avatar">
        </div>

        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}

        <div class="container">{{ form.username.label }} {{ form.username }} {% if form.username.errors %}
            <ul class="errors">
                {% for error in form.username.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}</div>
        <div class="container">{{ form.password.label }} {{ form.password }} {% if form.password.errors %}
            <ul class="errors">
                {% for error in form.password.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}</div>



        <div class="container">{{form.remember_me.label}} {{form.remember_me}} {% if form.remember_me.errors %}
            <ul class="errors">
                {% for error in form.remember_me.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}</div>
        {{ form.csrf_token }}
        <div id="login-submit">{{ form.submit }}</div>
        <div class="container-sign-up"><a href="/sign_up" class="sign-up"><i> New to us? Sign Up</i></a></div>
        </div>


    </form>


</article>

{% endblock %}