{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/sign_up.css')}}">
{% endblock %}

{% block content %}
    <h1>Sign Up Form</h1>

    <form action="/sign_up" method="post">
        <div class="container">{{ form.fname.label }} {{ form.fname }} {% if form.fname.errors %}
            <ul class="errors">
                {% for error in form.fname.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}</div>

        <div class="container">{{ form.lname.label }} {{ form.lname }} {% if form.lname.errors %}
            <ul class="errors">
                {% for error in form.lname.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}</div>

        <div class="container">{{form.title.label}} {{form.title}}</div>

        <div class="container">{{ form.username.label }} {{ form.username }} {% if form.username.errors %}
            <ul class="errors">
                {% for error in form.username.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}</div>


        <div class="container">{{ form.password.label }} {{ form.password }} {% if form.password.errors %}
            <ul class="errors">
                {% for error in form.password.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}</div>


        <div class="container">{{ form.password2.label }} {{ form.password2 }} {% if form.password2.errors %}
            <ul class="errors">
                {% for error in form.password2.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}</div>
        <div class="container"> {{ form.csrf_token }} {{ form.submit }} </div>
    </form>
    <div>
        Naviagtion:
        <a href="{{ url_for('index') }}">Home</a> {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a> {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        <a href="{{ url_for('upload_image') }}">Upload Image</a>
        <a href="{{ url_for('add_patient') }}">Add patient</a> {% endif %}
    </div>
{% endblock %}