{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}"> {% endblock %} {% block content %}
<div>
    <h2>Upload Image</h2>
</div>

{% with messages = get_flashed_messages() %} {% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endwith %}


<form action="/upload_image" method="post" enctype="multipart/form-data">

    <div class="container">{{form.photo.label}} {{form.photo}} {% if form.photo.errors %}
        <ul class="errors">
            {% for error in form.photo.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}</div>


    <div class="container">{{ form.patient_id.label }} {{ form.patient_id }} {% if form.patient_id.errors %}
        <ul class="errors">
            {% for error in form.patient_id.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}</div>


    {{form.analyze.label}} {{form.analyze}}

    <div class="container">{{ form.datetime.label }} {{ form.datetime }} {% if form.datetime.errors %}
        <ul class="errors">
            {% for error in form.datetime.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}</div>
    <div class="container">{{ form.im_type.label }} {{ form.im_type }} {% if form.im_type.errors %}
        <ul class="errors">
            {% for error in form.im_type.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}</div>


    {{ form.csrf_token }} {{ form.submit }}

</form>


{% if file_url %}
<br>
<img src="{{ file_url }}"> {% endif %} {% endblock %}